<config>    
    <modules>
        <PI_Comments>
            <version>0.1.0</version>
        </PI_Comments>
    </modules>
    <frontend>
        <routers>
            <comments>
                <use>standard</use>
                <args>
                    <module>PI_Comments</module>
                    <frontName>comments</frontName>
                </args>
            </comments>
        </routers>
        <layout>
            <updates>
                <comments>
                    <file>comments.xml</file>
                </comments>
            </updates>
        </layout>
       
    </frontend>
    <global>
        <models>
            <comments>
                <class>PI_Comments_Model</class>
                <resourceModel>comments_mysql4</resourceModel>
            </comments>
            <comments_mysql4>
                <class>PI_Comments_Model_Resource</class>
                <entities>
                    <customer_commentss>
                        <table>customer_commentss</table>
                    </customer_commentss>
                    <admin_user>
                        <table>admin_user</table>
                    </admin_user>
                </entities>
            </comments_mysql4>
          </models>

        <blocks>
            <comments>
                <class>PI_Comments_Block</class>
            </comments>
        </blocks>
        <resources>
            <comments_setup>
                <setup>
                    <module>PI_Comments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </comments_setup>
            <comments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </comments_write>
            <comments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </comments_read> 
        </resources>
       <helpers>
            <comments>
                <class>PI_Comments_Helper</class>
            </comments>
        </helpers>
       </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PI_Comments before="Mage_Adminhtml">PI_Comments_Adminhtml</PI_Comments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
  
</config>